<header>
    <nav id="navbar">
        <i class="fa-solid fa-burger" id="nav_logo">FOOD</i>
        <ul id="nav_list">
            <li class="nav-item active">
                <a href="#home">Início</a>
            </li>
            <li class="nav-item">
                <a href="#menu">Cardápio</a>
            </li>
            <li class="nav-item">
                <a href="#testimonials">Avaliações</a>
            </li>
        </ul>

        <app-button-default class="btn-default"></app-button-default>

        <button>
            <i class="fas fa-solid fa-bars"></i>
        </button>

    </nav>

    <div id="mobile_menu">

        <ul id="mobile_nav_list">
            <li class="nav-item">
                <a href="#home">Início</a>
            </li>
            <li class="nav-item">
                <a href="#menu">Cardápio</a>
            </li>
            <li class="nav-item">
                <a href="#testimonials">Avaliações</a>
            </li>
        </ul>

        <app-button-default class="btn-default"></app-button-default>
    </div>

</header>