<header>
    <nav id="navbar">
        <div id="nav_logo">
            <i class="fa-solid fa-burger"></i> FOOD
        </div>

        <button id="mobile_btn" (click)="toggleMenu()" [attr.aria-expanded]="isMenuOpen" aria-label="Alternar menu">
            <i class="fas fa-solid" [class.fa-bars]="!isMenuOpen" [class.fa-x]="isMenuOpen"></i>
        </button>

        <div id="nav_menu" [class.open]="isMenuOpen">
            <ul id="nav_list">
                <li class="nav-item active">
                    <a href="#home" (click)="closeMenu()">Início</a>
                </li>
                <li class="nav-item">
                    <a href="#menu" (click)="closeMenu()">Cardápio</a>
                </li>
                <li class="nav-item">
                    <a href="#testimonials" (click)="closeMenu()">Avaliações</a>
                </li>
            </ul>

            <app-button-default text="Pedir Agora" (click)="closeMenu()"></app-button-default>
        </div>
    </nav>
</header>