<header>
    <nav id="navbar">
        <div class="logo">
            <i class="fa-solid fa-burger" id=""></i>FOOD
        </div>
        <ul id="nav-list">
            <li class="nav-item">
                <a href="#home">Início</a>
            </li>
            <li>
                <a href="#menu">Cardápio</a>
            </li>
            <li>
                <a href="#testimonials">Avaliações</a>
            </li>
        </ul>

      <app-button-default></app-button-default>

      <button>
        <i class="fas fa-solid fa-bars"></i>
      </button>

    </nav>

</header>